<div id="userProfileDiv">
  <form
    *ngIf="userProfileInformation"
    nz-form
    onsubmit="event.preventDefault()"
  >
    <h2>我的個人資料</h2>
    <div class="form-item">
      <label [class.error]="userProfileInformation.user_name.length < 3"
        >姓名</label
      ><input
        name="user_name"
        placeholder="請輸入"
        [(ngModel)]="userProfileInformation.user_name"
        required
        minlength="2"
        maxlength="12"
      />
      <div class="error-msg">Name must be between 2 - 20 characters</div>
    </div>
    <div class="form-item">
      <label>手機號碼</label
      ><input
        name="user_phone"
        placeholder="請輸入"
        [(ngModel)]="userProfileInformation.user_phone"
        required
        type="number"
      />
    </div>
    <div class="form-item">
      <label>重要提醒</label>
      <textarea
        name="notes"
        placeholder="請輸入"
        [(ngModel)]="userProfileInformation.notes"
      ></textarea>
    </div>

    <h2>緊急聯絡人資料</h2>
    <div class="form-item">
      <label>姓名</label
      ><input
        name="emerg_name"
        placeholder="請輸入"
        [(ngModel)]="userProfileInformation.emerg_name"
        required
      />
    </div>
    <div class="form-item">
      <label>關係</label>
      <div>
        <nz-select
          name="emerg_relation"
          nzPlaceHolder="請選擇"
          [(ngModel)]="userProfileInformation.emerg_relation"
          required
        >
          <nz-option nzValue="父母" nzLabel="父母"></nz-option>
          <nz-option nzValue="孩子" nzLabel="孩子"></nz-option>
          <nz-option nzValue="兄弟姊妹" nzLabel="兄弟姊妹"></nz-option>
          <nz-option nzValue="親戚" nzLabel="親戚"></nz-option>
          <nz-option nzValue="伴侶" nzLabel="伴侶"></nz-option>
          <nz-option nzValue="朋友" nzLabel="朋友"></nz-option>
          <nz-option nzValue="otherRelation" nzLabel="其他"></nz-option
        ></nz-select>
      </div>
    </div>
    <div class="form-item">
      <label>手機號碼</label
      ><input
        name="emerg_phone"
        placeholder="請輸入"
        type="number"
        [(ngModel)]="userProfileInformation.emerg_phone"
        required
      />
    </div>
    <div class="form-item">
      <label>地址</label
      ><input
        name="emerg_address"
        placeholder="請輸入"
        [(ngModel)]="userProfileInformation.emerg_address"
        required
      />
    </div>
    <button nz-button nzType="primary" (click)="onSubmit()">提交</button>
  </form>
</div>
