#userProfileDiv {
  padding: 10px;
}

input {
  padding-left: 11px;
  border: 1px solid #d9d9d9;
  width: 100%;
}

textarea {
  padding-left: 11px;
  padding-top: 4px;
  border: 1px solid #d9d9d9;
  width: 100%;
}

.form-item {
  padding-bottom: 10px;
}
