<div id="userProfileDiv">
  <form nz-form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>我的個人資料</legend>
      <nz-form-item
        ><nz-form-label>姓名</nz-form-label
        ><nz-form-control nzErrorTip="請輸入姓名!"
          ><input
            nz-input
            placeholder="請輸入"
            formControlName="userName" /></nz-form-control
      ></nz-form-item>
      <nz-form-item
        ><nz-form-label>手機號碼</nz-form-label
        ><nz-form-control nzErrorTip="請輸入手機號碼!"
          ><input
            nz-input
            placeholder="請輸入"
            type="number"
            formControlName="userPhone" /></nz-form-control
      ></nz-form-item>
      <nz-form-item
        ><nz-form-label>重要提醒</nz-form-label
        ><nz-form-control>
          <textarea
            nz-input
            placeholder="請輸入"
            nzAutosize
            formControlName="notes"
          ></textarea></nz-form-control
      ></nz-form-item>
    </fieldset>
    <fieldset>
      <legend>緊急聯絡人資料</legend>
      <nz-form-item
        ><nz-form-label>姓名</nz-form-label
        ><nz-form-control nzErrorTip="請輸入姓名!"
          ><input
            nz-input
            placeholder="請輸入"
            formControlName="emergName" /></nz-form-control
      ></nz-form-item>
      <nz-form-item
        ><nz-form-label>關係</nz-form-label
        ><nz-form-control nzErrorTip="請選擇關係!"
          ><nz-select nzPlaceHolder="請選擇" formControlName="emergRelation">
            <nz-option nzValue="父母" nzLabel="父母"></nz-option>
            <nz-option nzValue="孩子" nzLabel="孩子"></nz-option>
            <nz-option nzValue="兄弟姊妹" nzLabel="兄弟姊妹"></nz-option>
            <nz-option nzValue="親戚" nzLabel="親戚"></nz-option>
            <nz-option nzValue="伴侶" nzLabel="伴侶"></nz-option>
            <nz-option nzValue="朋友" nzLabel="朋友"></nz-option>
            <nz-option
              nzValue="otherRelation"
              nzLabel="其他"
            ></nz-option> </nz-select></nz-form-control
      ></nz-form-item>
      <nz-form-item
        ><nz-form-label>手機號碼</nz-form-label
        ><nz-form-control nzErrorTip="請輸入手機號碼!"
          ><input
            nz-input
            placeholder="請輸入"
            type="number"
            formControlName="emergPhone" /></nz-form-control
      ></nz-form-item>
      <nz-form-item
        ><nz-form-label>地址</nz-form-label
        ><nz-form-control nzErrorTip="請輸入地址!"
          ><input
            nz-input
            placeholder="請輸入"
            formControlName="emergAddress" /></nz-form-control
      ></nz-form-item>
    </fieldset>
    <nz-form-item
      ><nz-form-control
        ><button nz-button nzType="primary" [disabled]="!userProfileForm.valid">
          提交
        </button></nz-form-control
      >
    </nz-form-item>
  </form>
</div>
