<nz-layout class="layout">
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" [nzTrigger]="null" [nzWidth]="'100%'"
    [(nzCollapsed)]="isCollapsed">

    <div class="sidebar-top-container">
      <div class="logo-wrap">
        <div class="logo-conatiner">
          <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        </div>
        <h1>SafetySphere</h1>
      </div>

      <div>
        <button nz-button nzType="text" nzShape="circle" nzSize="large" (click)="isCollapsed = true">
          <span nz-icon nzType="close-circle" nzTheme="fill" class="icon-close"></span>
        </button>
      </div>
    </div>

    <!-- (click)="isCollapsed = true" -->
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <!-- <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li> -->

      <!-- <li nz-menu-item *ngIf="appStatusService.isLogin">
          <strong [class]="{ nickname: !userName }" (click)="openUpdateUserNameModal = true">{{userName || '新增您的昵稱'}}</strong>
      </li> -->

      <li nz-menu-item nzMatchRouter [ngSwitch]="appStatusService.isLogin">
        <a *ngSwitchCase="false" routerLink="/login" class="login" (click)="isCollapsed = true">注册/登入</a>
        <h3 style="color: white;" *ngSwitchCase="true">{{appStatusService.userEmail}}</h3>
      </li>
      <!-- <li nz-menu-item nzMatchRouter>
        <a routerLink="/login" class="login" (click)="isCollapsed = true">注册/登入</a>
      </li> -->

      <li nz-menu-item nzMatchRouter>
        <a routerLink="/escape-route" (click)="isCollapsed = true">求助路線</a>
      </li>

      <li nz-menu-item nzMatchRouter>
        <a routerLink="/incident-map" (click)="isCollapsed = true">事件地圖</a>
      </li>

      <li nz-menu-item nzMatchRouter>
        <a routerLink="/report-incident" (click)="isCollapsed = true">報告事件</a>
      </li>

      <li nz-menu-item nzMatchRouter>
        <a routerLink="/report-incident-history" (click)="isCollapsed = true">我的報告記錄</a>
      </li>

      <li nz-menu-item nzMatchRouter>
        <a routerLink="/user-profile" (click)="isCollapsed = true">我的個人資料</a>
      </li>

      <li nz-menu-item nzMatchRouter [hidden]="!appStatusService.isLogin">
        <a routerLink="/follow" (click)="isCollapsed = true">追蹤中</a>
      </li>

      <li nz-submenu nzTitle="求助中" nzIcon="warning" style="color: red;">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/ask-for-help/aaa@gmail.com" (click)="isCollapsed = true">aaa@gmail.com</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <!-- <nz-modal
    [(nzVisible)]="openUpdateUserNameModal"
    nzTitle="新增 / 修改您的昵稱"
    (nzOnCancel)="openUpdateUserNameModal = false; userNameTypeIn = null"
    (nzOnOk)="updateUserName()"
  >
    <ng-container *nzModalContent>   
      <nz-input-group [nzSuffix]="inputClearTpl" [nzPrefix]="prefixTemplateUser">
        <input type="text" nz-input placeholder="請輸入您的昵稱" [(ngModel)]="userNameTypeIn" />
      </nz-input-group>
      <ng-template #prefixTemplateUser><span nz-icon nzType="user"></span></ng-template>
      <ng-template #inputClearTpl>
        <span
          nz-icon
          class="ant-input-clear-icon"
          nzTheme="fill"
          nzType="close-circle"
          *ngIf="userNameTypeIn"
          (click)="userNameTypeIn = null"
        ></span>
      </ng-template>
    </ng-container>
  </nz-modal> -->

  <nz-layout [hidden]="!isCollapsed" class="sub-layout">
    <nz-header class="header">
      <span class="menu" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></span>

      <div class="left-badge-container" *ngIf="isEscaping">
        <div class="left-badge" nz-icon [nzType]="'sound'" [nzTheme]="'twotone'" [nzTwotoneColor]="iconSoundColor()"
          (click)="onSwitchAlarm()"></div>
        <div class="left-badge" nz-icon [nzType]="'sync'" (click)="onRestart()"></div>
        <div class="left-badge" nz-icon nzType="close" nzTheme="outline" (click)="onStopEscape()"></div>
      </div>

      <div class="nav-title-container badge-container" *ngIf="incidentMapService.showIncidentMapTitle">
        <h2>事件地圖</h2>
      </div>

      <div class="nav-title-container" *ngIf="reportIncidentService.showReportIncidentTitle">
        <h2>報告事件</h2>
      </div>

      <div class="nav-title-container" *ngIf="historyService.showReportIncidentHistoryTitle">
        <h2>我的報告記錄</h2>
      </div>

      <div class="nav-title-container" *ngIf="historyService.showEditIncidentTitle">
        <h2>編輯報告</h2>
      </div>

    </nz-header>

    <router-outlet></router-outlet>
  </nz-layout>
</nz-layout>