<nz-drawer [nzClosable]="true" [nzVisible]="visible" [nzPlacement]="placement" nzTitle="篩選事件"
    (nzOnClose)="closeFilterDrawer()">
    <ng-container *nzDrawerContent>
        <div class="mapType">
            <div class="label-div"><label>地圖類型</label></div>
            <nz-radio-group [(ngModel)]="mapTypeRadioValue" (ngModelChange)="onMapTypeChange()">
                <label nz-radio-button nzValue="showHeatmap" (click)="disabled = true">熱視圖</label>
                <label nz-radio-button nzValue="showOriginal" (click)="disabled = false">普通地圖</label>
            </nz-radio-group>
        </div>
        <div class="dataType">
            <div class="label-div"><label>資料類型</label></div>
            <nz-radio-group [(ngModel)]="incidentTypeRadioValue" (ngModelChange)="onIncidentTypeChange()">
                <label nz-radio-button nzValue="fetchUserReport" [nzDisabled]="disabled">用家報告</label>
                <label nz-radio-button nzValue="fetchNewsReport" [nzDisabled]="disabled">新聞報道</label>
                <label nz-radio-button nzValue="all" [nzDisabled]="disabled">全部</label>
            </nz-radio-group>
        </div>
    </ng-container>
</nz-drawer>