#reportIncidentHistoryDiv {
  margin: 25px;
}

.button-container {
  position: absolute;
  right: 0;
}

.ant-list-item {
  padding: 0px;
}

.details-icon {
  margin-right: 5px;
  flex: 0 0 25px;
  display: inline-flex;
  justify-content: center;
  width: 25px;
  // border: 2px orange solid;
}

.incident-type {
  font-size: 20px;
}

.time {
  margin-left: 18px;
}

.date-time-container,
.description-container {
  display: flex;
  //  border: 2px salmon solid;
  align-items: center;
}

.location-container {
  display: flex;
}

.location-icon {
  top: 1px;
}

.history-item {
  line-height: 1.43;
}
