<div id="reportIncidentHistoryDiv">
  <nz-list nzItemLayout="horizontal">
    <nz-list-item *ngFor="let record of reportRecordList">
      <nz-list-item-meta>
        <nz-list-item-meta-title>
          <div class="history-item button-container">
            <button nz-button nzType="default" (click)="editIncident(record.id)">
              <span nz-icon nzType="edit" nzTheme="outline"></span>
            </button>
          </div>
          <div class="history-item">
            <span class="incident-type">{{
              record.incident }}</span>
          </div>
          <div class="history-item date-time-container">
            <span class="details-icon"><i class="fa-solid fa-clock"></i></span><span class="content">{{
              record.date
              | dateTimeFormat : "date" }}</span><span class="time">{{ record.time
              | dateTimeFormat :
              "time" }}</span>
          </div>
          <div class="history-item location-container">
            <span class="details-icon" id="location-icon"><i class="fa-solid fa-location-dot"></i></span><span
              class="content">{{
              record.location }}</span>
          </div>
          <div class="history-item description-container"><span class="details-icon"><i
                class="fa-solid fa-info"></i></span><span class="content">{{
              record.description }}</span></div>
          <div class="history-item">
            <incident-photo-history [image_array]="record.image_array"></incident-photo-history>
          </div>
          <nz-divider></nz-divider>
        </nz-list-item-meta-title>
      </nz-list-item-meta>
    </nz-list-item>
    <nz-list-empty *ngIf="reportRecordList.length === 0"></nz-list-empty>
  </nz-list>
</div>