.layout {
  min-height: 100vh;
}

.sub-layout {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
  }
}

.menu {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  // transition: color 0.3s;
}

.left-badge-container {
  width: 30%;
  display: flex;
  justify-content: space-around;

  .left-badge {
    font-size: 18px;
    line-height: 64px;
    // padding: 0 24px;
    cursor: pointer;
  }
}

// .trigger:hover {
//   color: #1890ff;
// }

.sidebar-top-container {
  position: relative;
  height: 64px;
  padding-left: 4.5vw;
  padding-right: 1vw;
  line-height: 64px;
  background: #001529;
  transition: all .3s;
  display: flex;
  justify-content: space-between;

  .logo-wrap {
    width: 80%;
    display: flex;

    .logo-conatiner {
      width: 10vw;

      img {
        width: 100%;
      }
    }
  }

  .icon-close {
    color: white;
    font-size: 6vw;
  }
}

.login {
  font-weight: bold;
}

.sidebar-top-container div h1 {
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 5vw;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
}

.sidebar-top-container .btn-close {
  color: white;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 24px 16px 0;
}

nz-footer {
  text-align: center;
}